@font-face {
    font-family: 'juni-boldcondensed';
    src: url("fonts/junicode-boldcondensed-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'juni-regular';
    src: url("fonts/junicode-regular-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'juni-bold';
    src: url("fonts/junicode-bold-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'juni-regular-condensed';
    src: url("fonts/junicode-regularcondensed-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'juni-italic-condensed';
    src: url("fonts/junicode-italiccondensed-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'folio';
    src: url("fonts/Folio-Light.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'folio-med';
    src: url("fonts/folio.woff");
    font-weight: Medium;
    font-style: normal;
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: #fafafa;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}



/* TYPE HIERARCHY */
h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

h2 {
    font-family: 'junicode-boldcondensed';
    font-size: 30px;
}

h3 {
    font-family: 'juni-boldcondensed';
    font-size: 45px;
    margin-bottom: 0px;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #323232;
}

h4 {
    font-family: 'folio-med';
    font-size: 20px;
    font-weight: Medium;
    color: #323232;
    margin-bottom: -10px;
    margin-top: 0px;
}

.specifics {
    font-family: 'folio';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 95%;
    letter-spacing: -0.0025em;
    color: #323232;
    margin-bottom: 50px;
}

body {
    background-color: #f5f5f5;
    margin:0;
    padding: 0;
    color: #323232;
}

#education-title {
    color: #E68599;
}

#skills-title {
    color: #F9AE34;
}

#experience-title {
    color: #19706A;
}


/* TOP NAVIGATION MENU  */
nav {
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    display: block;
    width: 80px;
    /* font-family: benton-sans, sans-serif; */
    font-family: 'juni-bold';
    font-style: normal;
    text-decoration: none;
    font-size: 17px;
    color: #323232;
}

.nav-right a:hover {
    text-decoration: underline;
}

.navtitle {
    width: 200px;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}


/* //////////////////////////////// */
.intro-splash {
    margin-top: 60px;
    /* height: 68vh; */
    display: flex;
}

.resume-container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    margin-top: 75px;
    margin-bottom: 75px;
}

.col {
    flex: 1;
}

#big-text-container {
    /* width: 70%; */
    flex: 0 0 65%;
    /* border: 1px solid; */
}

#skills-div {
    flex: 0 0 35%;
    position: relative;
}


.big-text {
    font-family: 'juni-boldcondensed';
    font-style: normal;
    font-size: 5vw;
    line-height: 95%;
    letter-spacing: -0.0025em;
    color: #323232;
    padding-left: 60px;
    margin: 10px;
    padding-top: 0px;
    width: 95%;
    /* width: 60%; */
}

#services-div {
    margin-left: 10%;
}

#services-p {
    font-family: 'folio';
    font-size: 15px;
    line-height: 150%;
}

#services-title {
    font-family: 'junicode-boldcondensed';
    font-size: 30px;
}





/* //////////////////////////////// */

#work-header {
    padding-left: 70px;
    /* padding-top: 90vh; */
    position: absolute;
    top: -60px;
    /* font-family: benton-sans, sans-serif; */
    font-family: 'juni-regular';
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    color: #323232;

}

.project-container {
    border-top: 1px solid rgba(0, 0, 0, .5);
    /* border-bottom: 1px solid rgba(0, 0, 0, .5); */
    min-height: 250px;
    color: #323232;
    flex: 1;
    position: relative;
}






/* CONTACT MODAL STYLING */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
    z-index: 100;

}

input {
	display: block;
    width: 90%;
    margin-bottom: 15px;
    padding: 5px;
    min-height: 20px;
    border: 1px solid #323232;
    background-color: transparent;
    color: black;
}

textarea {
	display: block;
    padding: 5px;
    width: 90%;
    min-height: 100px;
    margin-bottom: 15px;
    border: 1px solid #323232;
    background-color: transparent;
    color: black;
}

textarea, select, input, button {
    outline: none;
    font-family: 'juni-regular';
    font-size: 15px;
}

::placeholder {
    color: #323232;
}

button {
    float: right;
    margin-right: 10%;
    background-color: #323232;
    border-radius: 0;
    border: none;
    color: white;
    padding: 10px;
    min-width: 60px;
    cursor: pointer;
    /* padding-left, padding-right: 7px; */
}

/* Modal Content */
.modal-content {
float: right;
    background-color: #fafafa;
    border: 1px solid #323232;
    padding: 30px;
    /* border: 1px solid #888; */
    /* border-radius: 20px; */
    width: 40%;
    margin-right: 30px;
}

form {
	margin: 0 auto;
}

/* The Close Button */
.close {
    color: #323232;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #E68599;
    text-decoration: none;
    cursor: pointer;
}

a {
    cursor: pointer;
}




/* BREAKPOINT SPECIFICATIONS */
@media only screen and (min-width: 1400px) {
    .big-text{
        /* font-size: 90px; */
    }
}

@media only screen and (max-width: 850px) { /*breakpoint*/
    nav {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .navtitle {
        width: auto;
    }

    html {
        overlow-x: none;
    }

    .intro-splash {
        flex-direction: column;
    }

    .resume-container {
        flex-flow: column;
        flex-direction: column;
    }

    nav {
        width: 90%;
        padding-left: 10%;
    }

    nav .nav {
        padding: 0px;
    }
    .big-text {
        font-size: 10vw;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        padding: 0;
    }
    #big-text-container {
        width: 90%;
        margin: 0 auto;
    }


    #experience-div {
        margin-left: 5%;
    }
    #education-div {
        margin-left: 5%;
    }
    #skills-div {
        margin-left: 5%;
    }


    .project-title {
        line-height: 95%;
        margin-bottom: 5px;
    }
    .project-descrip {
        line-height: 95%;
        margin-top: 10px;
    }

}





/* #atlassian-proj:hover h1{
    font-family: 'juni-italic-condensed';
} */
