html {
   /* min-height: 100%; */
   /* max-width: 100%; */
   overflow-x: hidden;
}

body {
    background-color: #011D33;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

p {
    color: #f0f0f0;
    padding-bottom: 10px;
}

.navbar {
    width: 100%;
    margin-top: 40px;
    display: inline-block;
}

.navhelper {
    width: 85%;
    margin: 0 auto;
}

.nav {
    float: right;
    margin: 0;
}

#nav_ul {
    float: right;
}

.navlink {
    font-size: 14px;
    display: inline;
    margin:18px;
    color: #f0f0f0;
}

.menulink {
    color: #f0f0f0;
}

#logo {
    float: left;
    /* display: block; */
    height: auto;
    width: auto;
    max-width: 70px;
}

/* LINK COLOR CONTROL */
a {
    color: #f0f0f0;
    text-decoration: none;
}

.navlink a:hover{
    color: #FECA30;
}

a:active {
    color: #f0f0f0;
}

a:visited {
    color: #f0f0f0;
}

#flyingintrodiv {
    margin-top: 10vh;
    /* height: calc(100vh - 10vh); */
}

#openerdescription {
    padding-top: 30px;
}

#titlespan {
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: #f0f0f0;
    /* display: block;/ */
    text-transform: uppercase;
    /* text-align: center; */
    margin: 0 auto;
}

#descripspan {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #f0f0f0;
    display: block;
    width: 90%;
}

#landscapediv {
    width: 100%;
}

#hill {
    position: absolute;
    /* bottom: 100%; */
    z-index: -1;
    width: 100%;
    left: 0;
    /* bottom: 100vh; */
    top:100vh;
    transform:translateY(-70%);
}

#mountains {
    position: absolute;
    left: 30%;
    /* bottom: 100vh; */
    z-index: -2;
    width: 70%;
    top:100vh;
    transform:translateY(-100%);
}

#overviewdiv {
    z-index: 2;
    position: absolute;
    top: 110%;
    /* left: -10px; */
    width: 100%;
    background-image: linear-gradient(#01265A, #011D33);
}

.colimg {
    width: 90%;
    padding-left: 5%;
}

.lowercolimgs {
    width: 84%;
    padding-left: 8%;
    margin-top: 50px;
}

#imacimg {
    margin-top: 10px;
}

#lightstepbanner {
    margin-top: 5px;
}

#sitegif {
    margin-top: -10px;
}

.project {
    display: flex;
    width: 84%;
    /* position: relative; */
    margin: 0 auto;
    /* overflow: auto; */
}

.col {
    flex: 1; /*grow*/
    /* border: 1px solid; */
    text-align: left;
}

#tripstextdiv {
    text-align: left;
    /* padding-left: 20px; */
}

#processtextdiv {
    text-align: left;
}

.projnamespan {
    font-size: 30px;
    font-weight: 400;
}

.projdescrip {
    width: 90%;
    padding-left: 5%;
    /* margin: 0 auto; */
}

#flyingimg {
    width: 90%;
    margin-top: -50px;
}

#websitebanners {
    margin-top: 50px;
}

.subtitlespan {
    font-size: 23px;
    font-weight: 400;
}

.centeredtitle {
    text-align: center;
    width: 100%;
    padding-bottom: 0;
    /* margin-bottom: -5px; */
}

#bannertitle {
    margin-bottom: 24px;
}

#websitetitle {
    margin-bottom: -10px;
}

@media only screen and (max-width: 850px) { /*breakpoint*/
    .project {
        flex-direction: column-reverse;
        /* flex-direction: column; */
    }
    #overviewproj {
        flex-direction: column;
    }
    #websitecolumn {
        margin-bottom: 100px;
    }

    #bannertitle {
        padding-top: 40px;
    }
    #flyingimg {
        width: 90%;
    }
    #overviewdiv {
        top: 120%;
        /* z-index: -3; */
    }
    #styleguide {
        margin-bottom: 15px;
    }
    #descripspan {
        width: 70%;
    }
}
